.box {
  background-color: blue;
  padding: 20px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
  font-size: 30px;
}

#outer-box {
  border: 20px solid purple;
  margin: 20px;
}

.white-text {
  color: white;
}

.inner-box {
  background-color: red;
}