<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Blog Post</title>
</head>
<body>
    <header> 
        <a href="../index.ejs">Home</a>
        <a href="www.facebook.com">facebook</a>
        <a href="www.twitter.com">Twitter</a>
        <a href="www.gmail.com">Contact</a>
    </header>

    <main>